
//default card style
.card {
    display: block;
    width: 250px;
    padding: var(--global-spacing-scale-large);
}

//light - dark bgs
.dark-bg {
    background-color: var(--dark-theme-color-surface);
}

.light-bg {
    background-color: var(--light-theme-color-surface);
}

//shadows
.emphasis-low {
    box-shadow: var(--global-elevation-scale-low);
}

.emphasis-high {
    box-shadow: var(--global-elevation-scale-high);
}

//border radius
.radius-small {
    border-radius: var(--global-radius-scale-small);
}

.radius-medium {
    border-radius: var(--global-radius-scale-medium);
}

.radius-large {
    border-radius: var(--global-radius-scale-large);
}




