body {
    font-family: var(--global-typeface-copy-family);

    //light - dark bgs
    &.dark {
        background-color: var(--dark-theme-bg-color);
        color: var(--dark-theme-text-color);

        .card {
            padding: var(--dark-theme-padding);
            background-color: var(--dark-theme-card-bg-color);
        }

        label {
            color: var(--dark-theme-text-color);
        }
    }

    &.light {
        background-color: var(--light-theme-bg-color);
        color: var(--light-theme-text-color);
        .card {

            padding: var(--light-theme-padding);
            background-color: var(--light-theme-card-bg-color);
        }
        label {
            color: var(--light-theme-text-color);
        }
    }
}


//site layout and header (form input)
.site-layout {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 1rem 0;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4rem;
}

.site-header {
    padding: 1rem;
    text-align: center;

   
}