
body {
    font-family: var(-global-typeface-copy-family);
    font-size: var(--global-fontSize-0);
}


p {
    margin: 0.4rem 0;
}

h1, h2, h3 {
    font-family: var(-global-typeface-headline-family);
    line-height: 1;
    margin: 0.2rem 0;
}

h1 {
    font-size: var(--global-fontSize-3); 
    margin-bottom: 0.6rem;
}

h2 {
    font-size: var(--global-fontSize-2); 
}

h3 {
    font-size: var(--global-fontSize-1); 
}


.alert {
    display: none;

    &.error {
        color: rgb(155, 5, 5);
    }
    
    &.sucess {
        color: rgb(4, 143, 15);
    }

}
